@using Microsoft.AspNetCore.Identity
@using Teatastic.Areas.Identity.Data
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject SignInManager<TeatasticUser> SignInManager
@inject UserManager<TeatasticUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@Localizer["Hello"] @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" id="logout" asp-area="Identity" asp-page="/Account/Logout">@Localizer["Logout"]</a>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">@Localizer["Register"]</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">@Localizer["Login"]</a>
    </li>
}
</ul>