@model Teatastic.Models.Cart
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h1>@Localizer["Cart"]</h1>

@if (Model.CartItems.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>@Localizer["Tea"]</th>
                <th>@Localizer["Price"]</th>
                <th>@Localizer["Quantity"]</th>
                <th>@Localizer["Remove"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                var teaTotal = (int)(item.Tea.Price * item.Quantity);
                <tr>
                    <td>
                        <a class="a-cleanup" asp-controller="Teas" asp-action="Details" asp-route-id="@item.Id">@item.Tea.Name</a>
                    </td>
                    <td>
                        @teaTotal.ToString("c")
                    </td>
                    <td>
                        <a asp-controller="Cart" asp-action="ReduceQuantity" asp-route-id="@item.Tea.Id"><i class="bi bi-dash-circle"></i></a>
                        <span>@item.Quantity</span>
                        <a asp-controller="Cart" asp-action="IncreaseQuantity" asp-route-id="@item.Tea.Id"><i class="bi bi-plus-circle"></i></a>
                    </td>
                    <td>
                        <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@item.Tea.Id" class="text-danger"><i class="bi bi-file-x"></i></a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td class="text-right">
                    <strong>@Localizer["Total"]:</strong>
                </td>
                <td>
                    <strong>@Model?.GetCartTotal().ToString("c")</strong>
                </td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>

    <a asp-controller="Order" asp-action="Checkout"><div class="btn btn-success float-right mr-5">@Localizer["Checkout"] <i class="bi bi-cash"></i></div></a>
    <a asp-controller="Cart" asp-action="ClearCart"><div class="btn btn-danger float-right mr-5">@Localizer["Empty Cart"] <i class="bi bi-trash"></i></div></a>
    <a asp-controller="Teas" asp-action="Index"><div class="btn btn-info float-right mr-5">@Localizer["Back to list"] <i class="bi bi-arrow-return-left"></i></div></a>
}
else
{
    <h3 class="text-center">@Localizer["Cart is empty"]</h3>
    <a asp-controller="Teas" asp-action="Index"><div class="btn btn-info float-right mr-5">@Localizer["Back to list"] <i class="bi bi-arrow-return-left"></i></div></a>

}