@model IEnumerable<Teatastic.Areas.Identity.Data.TeatasticUser>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h1>Users</h1>
<table class="table">
    <thead>
        <tr>
            <th>@Localizer["UserName"]</th>
            <th>@Localizer["Email"]</th>
            <th>@Localizer["First Name"]</th>
            <th>@Localizer["Last Name"]</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                @*<td>@user.Role</td>*@
                @*<td>
                    <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
                </td>*@
            </tr>
        }

    </tbody>
</table>
